#general.tab-pane.active
  =render partial: "observations/general", locals: {f: f}
#ice.tab-pane
  =render partial: "observations/ice", locals: {f: f}
#meteorology.tab-pane
  =render partial: "observations/meteorology", locals: {f: f}
#photos.tab-pane
  =render partial: "observations/photos", locals: {f: f}
#comments.tab-pane
  =render partial: "observations/comments" 
