#obs_form
  = nested_form_for @observation, url: observation_path(@observation), html: { class: "autosave notify", id: "observation_form" }, remote: true do |f|
    = render partial: 'observations/header', locals: {f: f} unless @observation.new_record?
    #form-fields.tab-content
      =render partial: 'form_fields', locals: {f: f}
    
    
:javascript
  $('input[type=text],input[type=number]').on('keydown', function(e) {
    if (e.which == 13) {
      e.preventDefault();
    }
  });
  $(".combobox").select2({allowClear: true});
  handleTopographies();