.row
  .well.span4.offset4
    #upload_photo_btn.btn.btn-primary.btn-large.btn-block
      Upload Photo
    
#attached_photos{data: {fields: photo_upload_fields(f)}}    
  = render partial: 'photos/photo', collection: @observation.photos, as: 'photo', locals: {f: f}