.hero-unit
  %h3
    Welcome to the
  %h2
    - %w(Arctic Shipborne Sea Ice Standardization Tool).each do |word|
      = succeed(word[1..-1] + " ") do
        %strong= word.first
  %h4
    = @cruise.to_s

.btn-toolbar
  .btn-group
    =link_to observations_path, class: 'btn btn-large btn-primary', method: 'post' do
      %i.icon-eye-open
      Start Observation
    =link_to "#", class: 'btn btn-large import', id: 'importCSVBtn' do
      %i.icon-list
      Import From CSV
  .btn-group
    .btn.btn-large.disabled
      Download
    =link_to "CSV Template", "#", class: 'btn btn-large'
    =link_to "Obs Guide", "#", class: 'btn btn-large'
  .btn-group
    =link_to "Edit Cruise Information", edit_cruise_info_path, class: 'btn btn-large'

#import_observations
  =form_tag import_observations_url id: 'import_observations', multipart: true do
    #import.file_upload
      =file_field_tag :data

.row
  .span12
    #upload_status{style:"display:none;"}
      .row-fluid
        .span12
          %h5 Upload status
      .row-fluid
        #upload_messages.span12
.row
  .span12
    #errors
         
-if Rails.env == "development"
  .alert.alert-error
    %h3.alert-heading
      WARNING!
    %h4.alert-block
      This site is for testing the latest changes to ASSIST.  
      Observations may be wiped at any time.
      
= render 'obs_list'

:javascript 
  $("#importCSVBtn").on('click', function() {
    $("#data").click();
  })