.hero-unit
  %h3
    Welcome to the 
  %h2
    - %w(Arctic Shipbourne Sea Ice Standardization Tool).each do |word|
      = succeed(word[1..-1] + " ") do
        %strong= word.first
  %h4
    = @cruise.to_s
  .row
    .span3
      =link_to observations_path, class: 'btn btn-large btn-primary', method: 'post' do
        %i.icon-eye-open
        Start Observation
    .span3
      =form_tag import_observations_url, id: 'import_observations', multipart: true do
        #import.file_upload
          =link_to "#", class: 'btn btn-large import', id: 'importCSVBtn' do
            %i.icon-list
            Import From CSV
          =file_field_tag :data  
-if Rails.env == "development"
  .alert.alert-error
    %h3.alert-heading
      WARNING!
    %h4.alert-block
      This site is for testing the latest changes to ASSIST.  
      Observations may be wiped at any time.
      
= render 'obs_list'