%h1 New Observation
#observation_form
  = render 'general'


#user_form
  = render User.new

:javascript
  $(document).ready(function() {
    $('.combobox').chosen();
    $('.users').chosen({
      no_results_text: "That user was not found."
    });
  });