.well
  =form_for @cruise do |f|
    =f.label :ship, "Ship Name"
    =f.text_field :ship
    =f.label :season, "Cruise Season"
    =f.text_field :season
    %br
    =f.submit "Start Cruise", class: 'btn btn-primary'
