/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *=# require seaice/css/custom-theme/jquery-ui-1.8.18.custom
 *=# require_tree .
 *= require select2/select2
 *=# require datatables-1.9.0/css/jquery.dataTables
 *= require datatables-1.9.0/css/jquery.dataTables_themeroller
 *=# require qtip/jquery.qtip.css
 *= require bootstrap-datepicker
*/

@import 'bootstrap';

body {
  font-size: 12px;
}
.help-block {
  color: #AAA;
}
.control-group {
  #display: inline-block;
}

.select2-drop.select2-drop-active {
  z-index: 1051;
}

.field_with_errors {
  @extend .control-group.error;
  .select2-container {
    @extend .control-group.error;
  }
}

textarea {
  min-width: 98%;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}
.btn.disabled a {
  pointer-events: none;
  cursor: default;
}

div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_filter label {
    float: right;
    width: 460px;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table {
    margin: 1em 0;
    clear: both;
}
.nav {
  font-size: 14px;
}
.logo {
  display: inline-block;
  padding: 2px;
  width: 36px;
  height: 36px;
  margin: 0;
  -webkit-mask-image: url('/assets/iceobs.png');
  -webkit-mask-size: 36px 36px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-origin: content;
  background: url('/assets/iceobs.png') no-repeat 2px 2px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,
   from(rgba(0, 128, 204, 0.9)), to(rgba(0, 86, 204, 0.9)));
}

.subnav {
  .brand {
    color: black;
  }
  .navbar-inner {
    background-color: #DDD;
    background-image: none; 
  }
  &.navbar-fixed-top {
    top: 40px;
  }
  .nav li a {
    color: black;
  }
}


  
