// Place all the styles related to the Observations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'compass/css3';

$border-color: #000;

#obslist {
  th {
    text-align: left;
  }
}

.field_with_errors {
  display: inline-block;
  background: lighten(#F00, 30%);
  border: solid 1px red;
}

#observation_form {
  label {
    display:block;
    //width: 175px;
    text-align: left;
  }
  .half_size {
    padding-top: 0;
    margin-top: 0;
    display: inline-block;
    min-width: 200px;
   // padding: 5px 20px 20px 5px;
    vertical-align: top;
    .fields {
      display: inline-block;
      width: 245px;

    }

  }
  .infotext {
    padding-bottom: 3px;
    color: #AAA;
    position: relative;
    top: -2px;
  }

  .dateTime {
    padding-top: 0;
    margin-top: 0;
    display: block;
    width: 200px;
    vertical-align: top;
  }

  #adduser {
    vertical-align: top;
  }
  h1 {
    font-size: 1.2em;
    text-decoration: underline;
  }

  select {
    &.combobox {
     width: 100%;
    }
    &.users {
      min-width: 200px;
    }
  }
  input {
    //display: inline-block;
  }
  .radioset {
    label {
      display: inline-block;
    }
  }
  .toggle_label {
    display: inline-block;
    width: 150px;
  }

}

#nav_buttons {
  float: right;
  top: 2px;
  right: 5px;
  position: absolute;

  #save_button {
    color: #000000;
    @include background(linear-gradient(#CCC,#999 ));
    &.dirty {
      @include background(linear-gradient(#ff9900,#c26400 ));
    }
  }

  #next_button {
    color: #000000;
    @include background(linear-gradient(#0ac200 ,#38820d));
  }
}

#ice_obs_buttons {
  label {
    display: inline-block;
  }
}
#photo_form {
  padding-top: 10px;
  margin: 10px 0px 30px 0px;
  text-align: center;
  height: 100px;
  background: #AAAAAA;
  border: solid 1px #000000;
}
#comments_form {
  textarea {
    height: 120px;
    width: 100%;
    margin: 5px;
  }
}
#ice_obs_buttons {
  padding-bottom: 15px;
}

#attached_photos {
  display: block;

  .attached_photo {
    height:75px;
    margin: 10px;

    .edit_photo_form {
      margin-top: 20px;
      height: 35px;
      vertical-align: top;
      display: inline-block;

    }
    form {
      display: inline-block;
    }

    .thumbnail {

      height: 75px;
      width: 200px;
      display: inline-block;
      overflow: hidden;
      img {
        height: 75px;
      }
    }
    .photo_locations {
      display: inline-block;
      height: 35px;
    }
  }
}

.tooltip {
  display: inline-block;
  vertical-align: top;
  .content {
    display: none;
  }
  .detail {
    display: none;
  }
}
