// Place all the styles related to the Observations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#observation_form {
  label {
    display:inline-block;
    width: 175px;
    text-align: right;
    &.textarea {
      margin-left: 175px;
      text-align: left;
      display: block;
    }
  }

}

.ui-tabs-vertical { width: 100%; margin:0; padding: 0; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; width: 200px; top: -1px; left: -1px; position: absolute; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; width:100%; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0em; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { margin-left: 200px; padding: 1em; }