// Place all the styles related to the Observations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'compass/css3';

$border-color: #000;

#obslist {
  th {
    text-align: left;
  }
}

.columns {
  @include column-count(2);
  @include column-gap(20px);
  @include column-width(100px);
}

.column {
  @include column-count(1);
}

#observation_form {

  label {
    display:block;
    //width: 175px;
    text-align: left;

  }
/*
  p.half_size {
    padding-top: 0;
    margin-top: 0;
    width: 50%;
    float: left;
  }
*/
  h1 {
    font-size: 1.2em;
    text-decoration: underline;
  }

  select {
    &.combobox {
      min-width: 200px;    
    }
    &.users {
      min-width: 200px;
    }
  }
  .radioset {
    label {
      display: inline-block;
    }
  }
  .toggle_label {
    display: inline-block;
    width: 150px;
  }

}

#nav_buttons {
  float: right;
  top: 4px;
  right: 5px;
  position: absolute;

  button.save_button {
    color: #000000;
    background:#38820d url(/assets/seaice/css/custom-theme/images/ui-bg_highlight-soft_45_38820d_1x100.png) 50% 50% repeat-x;
  }
  button.next_button {
    color: #000000;
    background:#38820d url(/assets/seaice/css/custom-theme/images/ui-bg_highlight-soft_45_38820d_1x100.png) 50% 50% repeat-x;
  }
}

#ice_obs_buttons {
  label {
    display: inline-block;
  }
}
#photo_form {
  padding-top: 10px;
  margin: 10px 0px 30px 0px;
  text-align: center;
  height: 100px;
  background: #AAAAAA;
  border: solid 1px #000000;
}
#comments_form {
  textarea {
    height: 120px;
    width: 100%;
    margin: 5px;
  }
}
.hidden {
  display: none;
}

#ice_obs_buttons {
  padding-bottom: 15px;
}

#attached_photos {
  display: block;

  .attached_photo {
    height:75px;
    margin: 10px;

    .edit_photo_form {
      margin-top: 20px;
      height: 35px;
      vertical-align: top;
      display: inline-block;

    }
    form {
      display: inline-block;


    }
    .thumbnail {

      height: 75px;
      width: 200px;
      display: inline-block;
      overflow: hidden;
      img {
        height: 75px;
      }
    }
    .photo_locations {
      display: inline-block;
      height: 35px;
    }
  }
}


/*
.ui-tabs-vertical { width: 100%; margin:0; padding: 0; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; width: 200px; top: -1px; left: -1px; position: absolute; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; width:100%; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0em; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { margin-left: 200px; padding: 5px 5px 5px 15px; }
*/