#title IceObs
#navigation
  %ul
    %li= link_to 'List', observations_path
    %li= link_to 'New', observation_build_path, method: post
    %li.last= link_to 'Manage [not implemented]', manage_observations_path 